// Typo
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

/* Primary Colors */
$softRed: #fe7867;
$extraSoftRed: #f7a59b;

$yellow: #fad400;
$desaturatedYellow: #f3e178;
$extraSoftYellow: #faf5d9;
/*(graphic design text) */
$darkDesaturatedCyan: #25564b;

/* (photography text) */
$darkBlue: #19536b;

/*(footer) */
$darkModerateCyan: #458c7e;
$moderateCyanFooter: #77c5b5;
/* Neutral Colors*/
$veryDarkDesaturatedBlue: #23303e;
$veryDarkGrayishBlue: #5a636c;
$darkGrayishBlue: #818498;
$grayishBlue: #a7abae;
$white: #fff;
$black: #000;